.add-team-button {
    width: 100% !important;
    padding: 30px !important;
    background-color: #f0f0f0 !important; ; 
    display: flex !important;; 
    justify-content: flex-start !important;; 
    align-items: center !important;
    color: #000 !important;
  }
  
  .add-team-button .MuiSvgIcon-root {
    color: rgb(255, 255, 255); 
  }
  
  .add-team-button-link {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none; 
  }