.team-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 950px;
  overflow-y: auto;
  max-height: 80vh;
}

.team-modal-input {
  width: calc(100% - 40px) !important;
  margin-bottom: 20px;
 margin-top: 10px !important;
}

.team-modal-button {
  margin-top: 10px !important;
  width: 160px;
  height: 50px;
  background-color: #1082BE !important;
}

.team-modal-button:disabled {
  background-color: #ccc !important;
  color: #666 !important;
  cursor: not-allowed;
}

.select-dropdown {
  width: calc(100% - 40px);
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 16px;
  outline: none;
  appearance: none; 
  -webkit-appearance: none; 
  -moz-appearance: none;
  background-image: none;
  height: 59px;
  margin-top: 10px !important;
}

.select-dropdown:focus {
  border-color: #1976d2;
}
