.table-container {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-top: 2%;
  vertical-align: middle;
  text-align: center;
}

.table-container thead th {
  border: none; 
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  color: #676767 !important;
}

.table-container tbody td {
  border-bottom: 1px solid #ddd; 
  text-align: center;
  color: #676767 !important;
}

.table-container tbody td:first-child {
  border-left: none; 
}

.action-buttons button {
  margin-right: 5px;
  padding: 5px 10px;
  color: #1082BE;
  background-color: transparent;
  border: transparent; 
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.action-buttons button:hover {
  background-color: #1082BE; 
  color: white; 
}

.no-records-message {
  margin-top: 5%;
  text-align: center;
  color: #676767
}


