.cardboard-style {
    padding: 20px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
  }
  
  .cardboard-style.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
  }

  .input-container {
    flex: 1 1 30%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }

  .text-field-container {
    flex: 1 1 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }

  
  .span-label {
    color: gray;
    margin-bottom: 5px;
  }
  
  .text-field {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-top: 5px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .button-container button {
    width: 125px;
    height: 50px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }
  
  .voltar-button {
    background-color: white;
    color: #1082BE;
    border: 2px solid #1082BE;
  }
  
  .cadastrar-button {
    background-color: #1082BE;
    color: white;
  }
  
  .voltar-button:hover {
    background-color: #f0f0f0;
  }
  
  .cadastrar-button:hover {
    background-color: #2d9bd7;
  }
  .cadastrar-button:disabled{
    background-color: rgb(182, 182, 182);
    pointer-events: none;
  }
  

  .text-style h2 {
    margin-left: 10px !important;
  }

  .column-selection{
    margin-top: 20px;
  }

  .column-selection button{
    background-color: #1082BE;
  }

  .cardboard-style {
    display: flex !important;
    flex-wrap: wrap !important;
  }
  
  .cardboard-style > div {
    flex: 1 1 400px !important; 
    margin: 10px !important;
  }

  .cardboard-style-title-scenario > div {
    flex: 1 1 800px !important; 
    margin: 10px !important;
  }
  
  .span-label {
    font-weight: bold !important;
  }

  h4 {
    color: #222222; 
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1); 
    font-weight: normal; 
  }
  
  .cardboard-style-adicional {
    padding: 20px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
  }
  
  .cardboard-style-adicional.container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .cardboard-style-adicional.container > div {
    width: calc(33.33% - 20px); 
    margin: 10px; 
  }
  .column-selection{
    margin-left: 10px;
    margin-right: 10px;
  }